.primary{
    color: rgb(103, 182, 206);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.intro-block .row{
    align-items: center;
}

.Lynn{
    width: 20%;
}

.Lynn img{
    width: 90%;
    border-radius: 50%;
    
}

.content{
    width: 80%;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}

.contact-me>ul li{
    display: inline;
    padding: 0 5px;
}

.education_item {
    display: flex;
    align-items: center;
    width: 33.333%
}

.education_item .logo {
    width: 20%;
}

.education_item .logo img {
    width: 100%; 
}

.education_item ul li {
    list-style: none;
    padding: 5px 0;
}

.education_item ul :nth-child(1) {
    color:rgb(65, 119, 150);
}
    
.education_item ul :nth-child(2) {
        font-weight: 700;
        font-size: 20px;
}
    
.education_item ul :nth-child(3) {
        color:rgb(57, 117, 207)
}



.secondary{
    color: #AAA;
    }
.title{
    font-size: 24px;
}

.other_block {
    display: flex;
    flex-wrap: wrap;
}
    
.other_block h3{
    padding-bottom: 10px;
     color: rgb(103, 182, 206);
    border-bottom: 1px solid #AAA;
}
    
.skills {
    padding-right: 5px;
}
    
.language {
    padding-left: 5px;
}
    
.other_block>div {
    width: 50%;
}
    
.other_block>* {
    box-sizing: border-box;
}

